/******************************************************************GENERAL*********************************************************************************/

body {
    background: white;
    color: black;
    font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*footer
*/

@charset "UTF-8";

/*
.herozzz {
  background: url(daviiid.jpg) no-repeat center center;
  background-size: cover;
  height: 30em;
  overflow: hidden; }
*/

.row {
    max-width: 1200px;
}
.footer {
    background-color: #292c2f;
    text-align: center;
    font-size: 1.2rem;
    padding: 1rem;
}
.footer .social a {
    display: inline-block;
    width: 3rem;
    height: 2rem;
    /*    background-color: #33383b;*/
    border-radius: 2px;
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    line-height: 2rem;
    margin: 0 3px 0 0;
}
.footer .copywrite {
    color: #8f9296;
    font-size: 0.875rem;
    margin: 1rem 0 1rem 0;
}
.footer .footer-form textarea,
.footer .footer-form input {
    border-radius: 3px;
    background-color: #1f2022;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
    border: none;
    resize: none;
    font: inherit;
    font-size: 0.875rem;
    font-weight: normal;
    color: #d1d2d2;
    padding: 1.3rem;
}
.footer .footer-form label {
    color: #fff;
    font-size: 1.2rem;
    margin: 0 0 1rem 0;
    /*    font-weight: bold; */
}
.footer .footer-form .submit {
    border-radius: 3px;
    background-color: #33383b;
    color: #ffffff;
    border: 0;
    padding: 1rem 3.5rem;
    font-weight: bold;
    float: right;
    margin: 0 1rem 2rem 0;
}
.footer .footer-links a {
    list-style: none;
    font-weight: normal;
    color: #fff;
    padding: 3rem 0 2rem;
    margin: 0;
    font-size: 1.5rem;
}
.footer .footer-links a::after {
    content: "•";
    padding: 0 0.2rem 0 0.4rem;
}
.footer .footer-links a:last-child::after {
    content: "";
    padding: 0 0.4rem 0 0.8rem;
}
@media only screen and (min-width: 40.063em) {
    .footer {
        padding: 4rem;
    }
    .footer p {
        text-align: left;
    }
    .footer .social {
        text-align: left;
        margin: 0;
    }
    .footer .footer-form .contact {
        position: absolute;
        left: -45%;
        top: -50%;
    }
}
.logo {
    color: #fff;
    font-size: 2rem;
    ;
}
.logo i {
    margin-right: 0.5rem;
}
.footer .social a:hover {
    color: red;
}

/******************************************************************HERO********************************************************************************/

.herozzz {
    background-image: url(programming%20is%20an%20art.jpg);
    background-size: 100% 100%;
    height: 90%;
}
.content {
    position: absolute;
    opacity: 1;
    top: 20%;
    left: 5%;
    z-index: 2;
    color: black;
    padding-left: 5%;
}
.herozzz h2 {
    font-size: 4.5em;
    color: white;
}
.herozzz h4 {
    color: #ffebe5;
}
.button.hollow.success {
    top: 56%;
    left: 20%;
    border: 1px solid #FFF;
    color: WHITE;
    position: absolute;
}
.button.hollow.success:hover,
.button.hollow.success:focus {
    border-color: red;
    color: red;
}

/*********************************************************************************WORK*******************************************************************************/

.work {
    text-align: center;
    clear: both;
}
.work h4 {
    text-align: center;
    font-size: 1.5em;
    color: red;
}
.work p {
    margin: 0 10%;
}
.workz {
    border-right: 1px solid red;
}
.port h6 {
    display: inline-block;
    color: red;
    margin-left: 5%;
}
.work img {
    display: inline-block;
    background-color: red;
}
.port .thumbnail {
    box-shadow: 0 0 0 0;
}
.attributes {
    margin-bottom: 10%;
}
.messi {
    padding: 0 5%;
}

/******************************************************************

PORTFOLIO


***************************************************************************/

.portfolio {
    border-top: 1px solid red;
    background-color: #ffebe5;
    text-align: center;
    padding-top: 6%;
    color: red;
    padding-bottom: 6%;
    clear: both;
}
.portfolio .row {
    padding-top: 5%;
}

/*
    .column {
    padding:0;

}
*/

.portfolio .column {
    /*    height: 0;*/
}

/*
.websites img{
    margin: 0 2%;
}
*/


/******************************************************************internet*******************************************************************************/

image-overlay-content a:hover {
    background-color: red;
}
.image-wrapper {
    width: 100%;
    height: 100%;
    /*    border: 1px solid rgba(0, 0, 0, 0.04);*/
    overflow: hidden;
    position: relative;
    text-align: center;
    border-radius: 4px;
}
.image-overlay-content {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
}
.overlay-fade-in p {
    letter-spacing: 0.15em;
    color: #f4f4f4;
    font-size: 28px;
    opacity: 0;
    transition: all 0.2s linear;
}
.overlay-fade-in img {
    transition: all 0.2s linear;
    width: 100%;
}
.overlay-fade-in .image-overlay-content {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: all 0.4s ease-in-out;
}
.overlay-fade-in h2 {
    color: #f2f2f2;
    font-size: 1.3rem;
    /* margin-top: 40%; */
    opacity: 0;
    transition: all 0.2s ease-in-out;
    background: rgba(0, 2, 0, 0.7);
    padding-top: 10%;
    height: 100%;
}
.overlay-fade-in .button {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #FFF;
    color: #222;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000;
    position: relative;
    border: 1px solid #999;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.overlay-fade-in .button:hover {
    box-shadow: 0 0 5px #000;
}
.overlay-fade-in:hover img {
    transform: scale(1.1);
}
.overlay-fade-in:hover .image-overlay-content {
    opacity: 1;
}
.overlay-fade-in:hover h2,
.overlay-fade-in p,
.overlay-fade-in .button {
    opacity: 1;
}
.overlay-fade-in:hover p {
    transition-delay: 0.1s;
}
.overlay-fade-in:hover .button {
    transition-delay: 0.2s;
}

/******************************************************************HERO********************************************************************************/
