/******************************************************************GENERAL*********************************************************************************/

body {
  background: white;
  color: black;
  font: 300 16px/22px "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


/******************************************************************HERO********************************************************************************/
.hero{
    background-image: url(3029274-poster-p-1-3029274whats-the-real-value-of-learning-more-than-one-programming-language.jpg);
    background-size: 100% 100%;
/*  display: block;*/
/*
  filter: blur(5px);
  -webkit-filter: blur(5px);
*/
  height: 100%;
/*
  left: 0;
  position: fixed;
  right: 0;
  z-index: 1;
    opacity: 0.5;
*/
}
.content{
    padding-top: 20%;
    z-index: 2;
    color: black;

}



****************************************************************WORK*******************************************************************************

.work{
    text-align: center;
    clear: both;
}

.work h4{
    text-align: center;
    font-size: 1.5em;
    color: red;
}

.work p{
    margin: 0 10%;
}

.workz{
    border-right: 1px solid red;
}

.port h6{
    display: inline-block;
    color: red;
    margin-left: 5%;
}

.work img{
    display: inline-block;

}








/******************************************************************PORTFOLIO********************************************************************************/














/******************************************************************STRENGTHS********************************************************************************/
















/******************************************************************HERO********************************************************************************/
